body {
  margin: 0;
  font-family: "Courier New", "Courier", "Monospace", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 183, 233, 1) 51%
  ); */

  background: #fbab7e;
  background: radial-gradient(circle, #fbab7e 0%, #f7ce68 51%);
}
button {
  cursor: pointer;
}
